@media print {
    @page {
        size: 148mm 210mm;
        margin: 0
    }
    p {
        text-align: left;
        font-size: 24px;
        line-height: 27px;
        font-family: arial;
        color: red;
        display: none;
    }
    img {
        object-fit: cover;
        width: 100%;
        max-height: 20mm;
        /* width: 28mm;
        padding: 1mm; */
    }
}